
/* navbar */

body {
  font-family: "Poppins", sans-serif;
  background-color: #eee;
  color: #343434;
  font-weight: 400;
}

.register-box {
  /* background-color: #ccc; */
  padding: 2rem 3rem;
  margin-top: 100px;
  border-radius: 25px;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.login-link {
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

input:focus {
  outline: none;
}
